<div class="row">
  <div class="col-auto">
    <h2 mat-dialog-title>{{ title }}</h2>
  </div>
</div>

<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field class="w-100">
      <mat-label>Первая категория</mat-label>
      <input matInput type="text" formControlName="category1" required/>
    </mat-form-field>
    <mat-form-field class="w-100">
      <mat-label>Вторая категория</mat-label>
      <input matInput type="text" formControlName="category2"/>
    </mat-form-field>
    <mat-form-field class="w-100">
      <mat-label>Третья категория</mat-label>
      <input matInput type="text" formControlName="category3"/>
    </mat-form-field>
    <mat-form-field class="w-100">
      <mat-label>Четвертая категория</mat-label>
      <input matInput type="text" formControlName="category4"/>
    </mat-form-field>
    <div class="btn-group w-100">
      <button
        type="button"
        *ngIf="isDel"
        class="btn btn-sm btn-outline-danger me-5"
        (click)="onDelete()"
      >
        <i class="bi bi-trash"></i>
      </button>
      <button
        class="btn btn-sm btn-outline-success mx-1"
        style="width: 180px"
        (click)="onSubmit()"
        [disabled]="form.invalid"
      >
        Сохранить
      </button>
      <button
        class="btn btn-sm btn-outline-danger mx-1"
        style="width: 180px"
        (click)="onCancel()"
      >
        Отмена
      </button>
    </div>
  </form>
</mat-dialog-content>
