<div class="container">
  <div class="row justify-content-between mt-2">

    <div class="col-auto">
      <h1>Динамика движения денежных средств</h1>
    </div>
    <div class="col-auto text-end">
      <div class="btn-group">
        <button
          style="width: 85px"
          type="button"
          class="mx-1 btn btn-sm btn-outline-success"
          (click)="onIncome()"
        >
          <i class="bi bi-plus-circle-dotted"></i>
          Доход
        </button>
        <button
          style="width: 85px"
          type="button"
          class="mx-1 btn btn-sm btn-outline-danger"
          (click)="onConsumption()"
        >
          <i class="bi bi-dash-circle-dotted"></i>
          Расход
        </button>
      </div>
    </div>
    <div class="col-auto text-end">
      <button
        type="button"
        class="mx-1 btn btn-sm btn-outline-secondary"
        (click)="isShowFilter = !isShowFilter"
        [title]="isShowFilter ? 'Скрыть фильтр' : 'Показать фильтр'"
      >
        <i class="bi bi-funnel"></i>
      </button>
    </div>
  </div>
  <ng-container *ngIf="isShowFilter">
    <mat-form-field>
      <mat-label>Выберите период</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate [formControl]="matStartDate" placeholder="Дата с">
        <input matEndDate [formControl]="matEndDate" (dateChange)="onSelectDate()" placeholder="Дата по">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </ng-container>
  <div class="row mt-2">
    <div class="col-md-3 col-sm-6 mb-2">
      <app-analitic-card
        [value]="incomeValue"
        [isLoading]="isLoading"
        footerTitle="Доход"
      ></app-analitic-card>
    </div>
    <div class="col-md-3 col-sm-6 mb-2">
      <app-analitic-card
        [value]="consumptionValue"
        [isLoading]="isLoading"
        footerTitle="Расход"
        arrowClass="text-danger"
        arrowIcon="bi-arrow-down"
      ></app-analitic-card>
    </div>
    <div class="col-md-3 col-sm-6 mb-2">
      <app-analitic-card
        [value]="consumptionValue + incomeValue"
        [isLoading]="isLoading"
        [footerTitle]="'Итог за ' + monthName"
        arrowClass="text-warning"
        arrowIcon="bi-cash"
      ></app-analitic-card>
    </div>
  </div>
  <div class="row">

    <div class="col-sm-6">
      <h1>Dashboard</h1>
    </div>
    <div class="col-sm-6">
      <button
        class="mx-1 btn btn-sm {{chartDohod ? 'btn-success' : 'btn-outline-success'}}"
        (click)="updateChart(true)"
      >Доходы
      </button>
      <button
        class="mx-1 btn btn-sm {{chartDohod ? 'btn-outline-danger' : 'btn-danger'}}"
        (click)="updateChart(false)"
      >Расходы
      </button>
    </div>

    <div class="col-sm-12">
      <app-pie-chart
        *ngIf="!isLoading"
        [data]="dataChart"
        [labels]="labelsChart"
      ></app-pie-chart>
    </div>
  </div>
</div>

